<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <ul>
        <% if (posts.length) { %>
            <% posts.forEach(({title, author, text, date, id, createdAt}) => { %>
                <li style="margin: 15px">
                    <a href='/posts/<%= id %>'><%= title %></a>
                    <h3><%= author %></h3>
                    <h3><%= createdAt.toLocaleDateString() %></h3>
                    <p><%= text %></p>
                    <button data-id="<%= id %>">Delete</button>
                </li>
           <% }) %>
           <% } %>
    </ul>
    <script>
        document.addEventListener('click', (e) => {
            const id = e.target?.dataset.id || null;
            if(id) {
                fetch(`/posts/${id}`, {
                    method: 'DELETE'
                }).then(() => window.location.reload());
            }
        })
    </script>
</body>
</html>